<!-- Colonne droite -->
<aside class=" hidden lg:w-3/5 lg:block space-x-5 bg-black flex flex-col justify-center  sticky top-0 h-screen w-full ">

    <form action=" /search" method="GET" class="w-full max-w-md  mt-4 px-4 relative">
        <!-- Icône de recherche -->
        <i class="fa-solid fa-magnifying-glass absolute left-7 top-1/2 -translate-y-1/2 text-gray-400"></i>

        <!-- Champ de recherche -->
        <input type="text" name="q" placeholder="Rechercher un hashtag (#dev, #news...)"
            class="w-full rounded-full bg-gray-900 text-white placeholder-gray-500 pl-10 pr-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#1D9BF0]" />
    </form>


    <div class="bg-gray-900 rounded-2xl p-4">
        <h3 class="text-xl font-bold mb-4">What’s happening</h3>
        <div class="space-y-3">
            <div>
                <p class="text-gray-400 text-sm">Trending in Tech</p>
                <p class="font-semibold">#AdonisJS</p>
            </div>
            <div>
                <p class="text-gray-400 text-sm">Trending in Music</p>
                <p class="font-semibold">#Afrobeats</p>
            </div>
            <div>
                <p class="text-gray-400 text-sm">Trending in Sports</p>
                <p class="font-semibold">#RDCongo</p>
            </div>
        </div>
    </div>

    <div class="bg-gray-900 rounded-2xl p-4">
        <h3 class="text-xl font-bold mb-4">Who to follow</h3>
        <div class="space-y-3">
            {{-- @each(suggest in suggestions) --}}
            <div class="flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <img src="" class="w-10 h-10 rounded-full object-cover">
                    <div>
                        <p class="font-semibold"></p>
                        <p class="text-gray-500 text-sm">@{{ suggest.username }}</p>
                    </div>
                </div>
                <button class="bg-white text-black font-semibold px-3 py-1 rounded-full hover:bg-gray-200 transition">
                    Follow
                </button>
            </div>
            {{-- @endeach --}}
        </div>
    </div>
</aside>