<input type="{{ type || 'text' }}" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}" class="bg-transparent border w-full border-gray-700 rounded-lg p-3 text-white placeholder-gray-500 focus:border-blue-500
            focus:ring-0" />